doctype html
mixin item(title, url)
  li
    a(href=url class=paf == url ? 'active' : '' )=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  ul
    +item("strona główna", '/')
    +item("news", '/news')
    +item("quiz", '/quiz')
    +item("admin", '/admin')
    block content
